<h5>
    Criar/Editar Livro
</h5>
<div class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input disabled [(ngModel)]="livro.id" id="disabled" type="text">
            <label for="disabled" class="active">#</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="nome" [(ngModel)]="livro.titulo" class="validate" (input)="onInput()">
                <label for="nome" class="active">Titulo</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="autor" [(ngModel)]="livro.autor" class="validate">
                    <label for="autor" class="active">Autor</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="editora" [(ngModel)]="livro.editora" class="validate">
                        <label for="editora" class="active">Editora</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="preco" [(ngModel)]="livro.preco" class="validate">
                            <label for="preco" class="active">Preço</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="data" [(ngModel)]="livro.data" class="validate">
                                <label for="data" class="active">Data</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="criticas" [(ngModel)]="livro.critica" class="validate">
                                    <label for="criticas" class="active">Criticas</label>
                                </div>

                            </div>

                        </div>
                    </div>